/*Login form container div*/
#li-form-container{
	background: transparent url("/img/login_banner.svg") no-repeat scroll center bottom / cover;
	@include box-shadow-helper(4);

	.container{
		padding-top: 10em;
		padding-bottom: 25em;
	}

	input{
		background-color: $input-transp-color;
		color: #444;
		margin-bottom: 0.4em;
		@include box-shadow-helper(2);
	}

	button{
		@include border-radius(0);
		background-color: $primary-color;
		border: none;
		color: #fff;
		@include box-shadow-helper(2);
	}
}

.li-form-subcontainer{
	background-color: $form-transp-color;
	padding: 0.7em;
	@include box-shadow-helper(4);
}

.li-head{
	color: $white-color !important;
}