/*$box-shadow: 0px 5px 5px 2px #BBB;*/

.profile-container{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	position: relative;
	margin-bottom: 5px;
	border: none !important;
	border-radius: 0px !important;
	@include box-shadow-helper(2);

	blockquote{
		font-size: 1em;
	}

	a.pet-prof-link{
		color: inherit !important;
		cursor: pointer;
	}
}

.sp-ico{
	fill: currentColor;
	max-height: 30px;
	max-width: 30px;
}

.standard-ico{
	fill: currentColor;
	max-height: 20px;
	max-width: 20px;
}

.svg-sp-ico{
	display: inline;
}

.profile-female{
	@extend .profile-container;
	/*border-color: $female-fore;*/
	color: #555;
	/*background-color: $female-back;*/

	.panel-heading{
		/*background-image: linear-gradient(to bottom,$female-back 0,$female-fore 100%);*/
		background-image: linear-gradient(to bottom,$female-fore 0,$female-fore 100%);
		color: white;
		font-weight: bold;
		border: none !important;
		border-radius: 0px !important;
	}

	.sp-ico, .standard-ico{
		fill: $female-fore;
	}

	blockquote{
		border-color: $female-fore;
	}
}

.profile-male{
	@extend .profile-container;
	/*border-color: $male-fore;*/
	color: #555;
	/*background-color: $male-back;*/

	.panel-heading{
		/*background-image: linear-gradient(to bottom,$male-back 0,$male-fore 100%);*/
		background-image: linear-gradient(to bottom,$male-fore 0,$male-fore 100%);
		color: white;
		font-weight: bold;
		border: none !important;
		border-radius: 0px !important;
	}

	.sp-ico, .standard-ico{
		fill: $male-fore;
	}

	blockquote{
		border-color: $male-fore;
	}
}

div.profile-pic{
	max-height: 100px;
	max-width: 100px;
	margin-bottom: 15px;
	position: relative;

	img{
		position: absolute;
		top: -40px;
	}
}

@media (min-width: 992px){
	max-height: 200px;
	max-width: 200px;
	margin: 15px;
}

.profile-label{
	font-weight: bold;
}

li.pet-list{
	padding: 5px 0px;
	background-color: rgba(255, 255, 255, 0);
	border: none;
}

li.pet-list:first-child{
	@extend li.pet-list;
	padding-top: 0px;
}

ul.pet-list{
	box-shadow: none !important;
}

.std-panel-head{
	background-color: $cyan-color !important;
	background-image: none !important;
	color: #fff !important;
	font-weight: bold;
}

.trophy-icon{
	max-height: 1.5em;
	max-width: 1.5em;
	margin-right: 0.2em;
}

.tags-container{

	background-color: #FFF;
	@include box-shadow-helper(1);
	padding: 0.5em;

	.std-tag{
		background-color: #FFF;
		padding: 0.1em 0.5em;
		white-space: nowrap;
		@include box-shadow-helper(1);
		margin-right: 0.3em !important;
		margin-bottom: 0.3em !important;
	}
}

.profile-row{
	margin-bottom: 0.5em;

}