
$female-fore: #ce0058;
/*$female-back: #FFE2EE;*/
$female-back: #FEEEF4;

$male-fore: #005eb8;
/*$male-back: #DDEEFF;*/
$male-back: #E9F3FC;
$box-shadow: 0px 5px 5px 2px #BBB;

.profile-container{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	border-width: 1px;
	border-style: solid;
	position: relative;
	margin-bottom: 5px;
	box-shadow: $box-shadow;
}

.sp-ico{
	fill: currentColor;
	max-height: 30px;
	max-width: 30px;
}

.standard-ico{
	fill: currentColor;
	max-height: 20px;
	max-width: 20px;
}

.svg-sp-ico{
	display: inline;
}

.profile-female{
	@extend .profile-container;
	/*border-color: $female-fore;*/
	color: #555;
	background-color: $female-back;

	.panel-heading{
		/*background-image: linear-gradient(to bottom,$female-back 0,$female-fore 100%);*/
		background-image: linear-gradient(to bottom,$female-fore 0,$female-fore 100%);
		color: white;
		font-weight: bold;
		/*box-shadow: $box-shadow;*/
	}

	.sp-ico, .standard-ico{
		fill: $female-fore;
	}

	blockquote{
		border-color: $female-fore;
	}
}

.profile-male{
	@extend .profile-container;
	/*border-color: $male-fore;*/
	color: #555;
	background-color: $male-back;

	.panel-heading{
		/*background-image: linear-gradient(to bottom,$male-back 0,$male-fore 100%);*/
		background-image: linear-gradient(to bottom,$male-fore 0,$male-fore 100%);
		color: white;
		font-weight: bold;
		box-shadow: $box-shadow;
	}

	.sp-ico, .standard-ico{
		fill: $male-fore;
	}

	blockquote{
		border-color: $male-fore;
	}
}



div.profile-pic{
	max-height: 100px;
	max-width: 100px;
	margin: 15px;
}

@media (min-width: 992px){
	max-height: 200px;
	max-width: 200px;
	margin: 15px;
}

.profile-label{
	font-weight: bold;
}

li.pet-list{
	padding: 5px 0px;
	background-color: rgba(255, 255, 255, 0);
	border: none;
}