@import 'lime-brown-palette';
@import 'colors';
@import 'common-mixins';
@import 'profiles';
@import 'topnavbar';
@import 'typeahead';
@import 'addpet';
@import 'form-validation';
@import 'login';
@import 'buttons';
@import 'photos';

body{
	/*background-color: rgb(226, 255, 255)*/
	background-color: #F6F6F6;
}

input, select, textarea, span.readonly-field{
	@include border-radius(0);
	box-shadow: none !important;
	border-top: none !important;
	border-left: none !important;
	border-right: none !important;
	border-bottom: 2px solid $input-border-color !important;
	padding: 6px 12px;
	width: 100%;
	display: block;
	transition:0.5s linear all;
	background-color: #fff;
}

a.delete{
	color: $brick-red-color;
	font-weight: bold;
}
a.delete:focus, a.delete:hover{
	@extend a.delete;
	cursor: pointer;
}

.my-form-control{
	display: block;
	width: 100%;
	background-color: #fff;
}

/*.left-sect, .right-sect, .center-sect{
	background-color: none;
	margin-left: 0.2em;
	margin-right: 0.2em;
	padding: 1em 0.2em;
}*/

.main-container{
	margin-top: 1em;
}

.action-icon{
	max-height: 1.5em;
	max-width: 1.5em;
	cursor: pointer;
}

.animate-enter, 
.animate-leave{ 
	-webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	position: relative;
	display: block;
} 

.animate-enter.animate-enter-active, 
.animate-leave {
	opacity: 1;
	top: 0;
	height: 30px;
}

.animate-leave.animate-leave-active,
.animate-enter {
	opacity: 0;
	top: -50px;
	height: 0px;
}

ul.qpidog-list{
	@include border-radius(0%);
	margin-top: 0px;
	padding-left: 0px;

	li.qpidog-list-item{
		@include box-shadow-helper(2);
		position: relative;
		display: block;
		background-color: #FFF;
		margin-bottom: 1.2em !important;
		padding: 10px 15px;
		border: none;
	}

}

.vert-padd-1{
	padding-top: 1em;
	padding-bottom: 1em;
}

.vert-padd-2{
	padding-top: 2em;
	padding-bottom: 2em;
}

.post-img-container{

}

.post-img{
	@include box-shadow-helper(2);
	width: 100%;
}

.social-widgets-panel{
	/*background-color: $cyan-color;*/
	@include box-shadow-helper(2);
	padding: 0.5em 1em; 
	color: #009E66;
}

.social-widget{
	padding-right: 1em;
	cursor: pointer;
	color: inherit;
	text-decoration: none;

	a:hover{
		text-decoration: none;
	}
}

.social-widget-icon{
	color:inherit;
	svg{
		max-height: 2em;
		max-width:  2em;
		fill: #009E66;
	}
}

.min-img{
	min-width: 3em;
	min-height: 3em;
}

blockquote{
	border-color: $brown-color;
}

.status-update-panel{
	@include box-shadow-helper(1);
	@include border-radius(0%);
	padding: 1em;
}

ul.qpidog-list-inline{
	li{
		border-right: 1px solid $cyan-color;
		padding-right: 1em;

		&:last-child{
			border-right: none;
		}
	}
}

.map-panel{
	@include box-shadow-helper(2);
	margin-bottom: 1em;
}

.fade{
	opacity: 1;
	&.ng-hide {
		-webkit-transition:	0.5 linear all;
		-moz-transition:	0.5 linear all;
		-o-transition:		0.5 linear all;
		transition:			0.5 linear all;
		opacity: 0;
	}
}

.relative{
	position: relative;
}

.absolute{
	position: absolute;
}

