@import 'common-mixins';
@import 'profiles';
@import 'topnavbar';
@import 'typeahead';
@import 'addpet';
@import 'form-validation';

body{
	/*background-color: rgb(226, 255, 255)*/
	background-color: #F6F6F6;
}

input, select, textarea, span.readonly-field{
	@include border-radius(0);
	box-shadow: none !important;
	border-top: none !important;
	border-left: none !important;
	border-right: none !important;
	border-bottom: 2px solid #CFAE76 !important;
	padding: 6px 12px;
	width: 100%;
	display: block;
	transition:0.5s linear all;
}

.my-form-control{
	display: block;
	width: 100%;
	background-color: #fff;
}

.left-sect, .right-sect, .center-sect{
	background-color: none;
	margin-left: 0.2em;
	margin-right: 0.2em;
	padding: 1em 0.2em;
}

.action-icon{
	max-height: 1.5em;
	max-width: 1.5em;
	cursor: pointer;
}