<div data-ng-controller="PetsCtrl">
	<ul class="list-group pet-list">
		<li class="list-group-item pet-list" data-ng-repeat="pet in pets">
			<div class="panel panel-default profile-container" data-ng-class="pet.gender=='m'?'profile-male':'profile-female'"/>
				<div class="panel-heading">&nbsp;</div>
				
				<div class="panel-body container-fluid">

					<div class="row profile-row">
						<div class="col-xs-3">
							<div class="profile-pic">
								<img class="img-responsive img-thumbnail" ng-src="{{pet.profilePic}}">
							</div>
						</div>
						<div class="col-xs-11 col-xs-offset-3">
							<div class="container-fluid">
								<div class="row">
									<div class="col-xs-12">
										<div class="svg-sp-ico" title="{{pet.sp}}">
											<svg  viewBox="0 0 489.751 489.751" class="sp-ico">
												<use xlink:href="{{pet.spIco}}"></use>
											</svg>
										</div>
										<a class="pet-prof-link" data-ng-click="gotoUpdate(pet)" ><strong>{{pet.name | camelcase}}</strong></a>		
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12">
										<a href=""><small>@<span>{{pet.name}}</span></small></a>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12">
										<a href="" data-ng-show="pet.sp"><small>#<span>{{pet.sp | camelcase}}</span></small></a>
										<a href="" data-ng-show="pet.breed"><small>#<span>{{pet.breed | camelcase}}</span></small></a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row profile-row">
						<span class="col-xs-12">&nbsp;</span>
					</div>

					<div class="row profile-row">
						<span class="col-xs-4">I'm looking for</span>
						<div class="col-xs-8">
							<svg  viewBox="0 0 23.217 23.217" class="standard-ico">
								<use data-ng-if="true" xlink:href="#heart-ico"></use>
							</svg>
						</div>
					</div>

					<div class="row profile-row">
						<span class="col-xs-4">Born</span>
						<span class="col-xs-8">{{(pet.birthDate | date) || pet.birthYear}}</span>
					</div>

					<div class="row profile-row">
						<span class="col-xs-2">I live in</span>
						<span class="col-xs-10">{{pet.loc.addr}}</span>
					</div>

					<div class="row profile-row">
						<div class="col-xs-12">
							<blockquote>
								<p>{{pet.desc}}</p>
								<!--footer>Someone famous in <cite title="Source Title">Source Title</cite></footer-->
							</blockquote>
						</div>
					</div>

					<div class="row profile-row">
						<span class="col-xs-2">My awards</span>
						<ul class="list-inline tags-container col-xs-10">
							<li class="" ng-repeat="award in pet.awards track by $index"><img title="{{award}}" class="trophy-icon" src="/img/icons/trophy.svg"><span>{{award}}</span></li>
						</ul>
					</div>
					
					<div class="row profile-row">
						<span class="col-xs-2">I like</span>
						<ul class="list-inline tags-container col-xs-10">
							<li class="std-tag" ng-repeat="like in pet.likes track by $index">{{like}}</li>
						</ul>
					</div>

					<div class="row profile-row">
						<span class="col-xs-2">I run with</span>
						<ul class="list-inline tags-container col-xs-10">
							<li class="std-tag" ng-repeat="pack in pet.packs track by $index">{{pack}}</li>
						</ul>
					</div>

				</div>
				
			</div>
		</li>
	</ul>

	<div data-ng-show="!pets">It's lonely here. You have no pets yet</div>

	<button class="btn floating-btn pull-right" data-ng-click="gotoCreatePet()"><span class="glyphicon glyphicon-plus"></span></button>

</div>