<div data-ng-controller="PetsCtrl">
	<ul class="list-group pet-list">
		<li class="list-group-item pet-list" data-ng-repeat="pet in user.pets">
			<div class="panel panel-default profile-container" data-ng-class="pet.gender=='m'?'profile-male':'profile-female'"/>
				<div class="panel-heading">
					<span class="">{{pet.name}}</span>
					<a class="pull-right" data-ng-click="gotoUpdate(pet)" ><img class="action-icon" src="img/icons/edit.svg"></a>
				</div>
				
				<div class="panel-body container-fluid">
					
					<div class="row profile-row">

						<div class="col-xs-12 col-md-3 profile-pic ">
							<img class="img-responsive center-block img-thumbnail" ng-src="{{pet.profilePic}}">
						</div>
						
						
						<div class="col-xs-4 col-md-3">
							<span class="sr-only">Species</span>
							<div class="svg-sp-ico" title="{{pet.sp}}">
								<svg  viewBox="0 0 489.751 489.751" class="sp-ico">
									<use xlink:href="{{pet.spIco}}"></use>
								</svg>
							</div>
							<span class="text-capitalize">{{pet.sp}}</span>
						</div>

						<div data-ng-show="pet.breed" class="col-xs-8 col-md-3 text-capitalize">
							<span class="profile-label">Breed</span>
							<span class="text-capitalize">{{pet.breed}}</span>
						</div>

						<div class="col-xs-2 svg-sp-ico">
							<span class="profile-label">I'm looking for</span>
							<svg  viewBox="0 0 23.217 23.217" class="standard-ico">
								<use data-ng-if="true" xlink:href="#heart-ico"></use>
							</svg>
						</div>

						<div class="col-xs-12 col-md-3">
							<span class="profile-label">Date of Birth</span>
							{{pet.birth | date}}
						</div>
						
						<div class="col-xs-12">
							<span class="profile-label">I live in</span>
							{{pet.loc.addr}}
						</div>

						<div class="col-xs-12">
							<blockquote>
								<p>{{pet.desc}}</p>
								<!--footer>Someone famous in <cite title="Source Title">Source Title</cite></footer-->
							</blockquote>
						</div>

					</div><!--row-->

					<div class="row profile-row">
						<span class="col-xs-2">My awards</span>
						<ul class="list-inline tags-container col-xs-10">
							<li class="" ng-repeat="award in pet.awards track by $index"><img title="{{award}}" class="trophy-icon" src="/img/icons/trophy.svg"><span>{{award}}</span></li>
						</ul>
					</div>
					
					<div class="row profile-row">
						<span class="col-xs-2">I like</span>
						<ul class="list-inline tags-container col-xs-10">
							<li class="std-tag" ng-repeat="like in pet.likes track by $index">{{like}}</li>
						</ul>
					</div>

					<div class="row profile-row">
						<span class="col-xs-2">I run with</span>
						<ul class="list-inline tags-container col-xs-10">
							<li class="std-tag" ng-repeat="pack in pet.packs track by $index">{{pack}}</li>
						</ul>
					</div>

				</div>
				
			</div>
		</li>
	</ul>
	<div data-ng-show="!user.pets">It's lonely here. You have no pets yet</div>
</div>