<div data-ng-controller="PhotosCtrl">
	
	<h2>Manage Photos for {{pet.name}}</h2>

	<img height="100px" src="{{pet.profilePic}}">
	<input type="text" data-ng-model="pet.profilePic">
	
	
	<!--watching model:
	<div class="button" ngf-select ng-model="file" ngf-multiple="false">Select File</div>
	
	On file change multiple:
	<div class="button" ngf-select ngf-change="upload($files)" ngf-multiple="true">Select File</div-->
	
	<h3>Drop File:</h3>
	<div 	ngf-drop
			ngf-select
			ng-model="files"
			class="drop-box" 
			ngf-drag-over-class="dragover"
			ngf-multiple="true"
			ngf-allow-dir="true"
			accept="image/*">
			Drop images here or click to upload
	</div>
	<div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
	
	<!--h5>Files:</h5>
	<ul>
		<li ng-repeat="f in files" style="font:smaller">
			<span>{{f.name}}</span>
			<img 
				ngf-src="f"
				ngf-no-object-url="false"
				ng-show="f.type.indexOf('image') > -1" ngf-accept="'image/*'" >
		</li>
	</ul-->

	<h4>Upload Log:</h4>
	<pre>{{log}}</pre>

	<div class="container-fluid">
		<div class="row" >
			<div class="col-xs-12 col-sm-4 gallery-container" data-ng-repeat="p in photos" >
				<img class="img-responsive gallery-photo _img-thumbnail" src="{{p.src}}">
				<div class="radio">
					<label>
						<input type="radio" name="profilePicOpts" title="Make this my profile pic" value="{{p.src}}" data-ng-model="pet.profilePic" data-ng-change="setProfilePic()">
						Profile Pic
					</label>
				</div>
			</div>
		</div>
	</div>
	
	<!--form>
		<!--input type="file" name="files" data-ng-model="photos" multiple onchange="angular.element(this).scope().filesChanged(this)"->
		<input type="file" multiple file-input="files">
		<button data-ng-click="uploadPhotos()">upload</button>
	</form>
	
	<ul>
		<li data-ng-repeat="f in files">
			{{f.name}}
			<img src="{{f}}">
		</li>
	</ul-->

</div>