<div class="panel panel-default std-panel">
	<div class="panel-heading std-panel-head">{{pet.name}}</div>
	<div class="panel-body">
		
		<form class="form-horizontal" data-ng-submit="save()" name="petForm">

			<div class="form-group">
				<label class="col-xs-2 control-label text-nowrap required-field">Name</label>
				<div class="col-xs-10">
					<input class="my-form-control" type="text" placeholder="Your pet's name" data-ng-model="pet.name" required ng-class="pet.name?'text-capitalize':''">
				</div>
			</div>

			<div class="form-group">
				<label class="col-xs-2 control-label text-nowrap required-field">Species</label>
				<div class="col-xs-10">
					<typeahead model="pet.sp" required="true" options="species" placeholder="'Dog, cat, ferret, hamster, turtle, bird, unicorn?'"
						opt-search="'desc'"
						opt-value="'desc'"
						opt-label="'desc'"
					>
				</div>
			</div>

			<div class="form-group">
				<label class="col-xs-2 control-label text-nowrap">Breed</label>
				<div class="col-xs-10">
					<typeahead model="pet.breed" data-ng-required="false" options="breeds" placeholder="'What breed am I?'"
						opt-search="'desc'"
						opt-value="'desc'"
						opt-label="'desc'"
					>
				</div>
			</div>

			<div class="form-group">
				<label class="col-xs-2 control-label text-nowrap required-field">Gender</label>
				<div class="col-xs-10">
					<combo model="pet.gender" required="true" options="genders">
				</div>
			</div>

			<div class="form-group">
				<label class="col-xs-2 control-label text-nowrap required-field">Location</label>
				<div class="col-xs-10">
					<input id="petLoc" name="petLoc" class="my-form-control" type="text" data-ng-model="pet.loc.addr" gmaps-places-autoc required
					placeholder="{{pet.name?'What\'s '+pet.name+'\'s home town?':'What\'s your pet\'s home town?'}}">
				</div>
				<!--small class="col-xs-2" data-ng-show="newPetForm.petLoc.$dirty && newPetForm.petLoc.$error">required</small-->
			</div>

			<div class="form-group">
				<label class="col-xs-2 control-label text-nowrap">
					Birth
				</label>
				<div class="col-xs-6">
					<div class="relative">
						<input 	class="my-form-control fade absolute"
								data-ng-show="knowsBirthDate"
								type="text"
								placeholder="E.g. 12 Feb 2014"
								data-ng-model="pet.birthDate"
								bs-datepicker
								data-date-format="dd MMM yyyy"
								data-autoclose="true"> <!--TODO: change for Bootstrap UI datepicker directive-->
						<select data-ng-model="pet.birthYear"
								class="fade absolute"
								data-ng-show="!knowsBirthDate">
								<option data-ng-repeat="year in birthYearOpts" value="{{year}}">{{year}}</option>
						</select>
					</div>
				</div>
				<div class="col-xs-4">
					<a data-ng-click="toggleBirthOpt()" class="relative">
						<small data-ng-show="knowsBirthDate" class="text-nowrap">Just the year?</small>
						<small data-ng-show="!knowsBirthDate" class="text-nowrap">Know the exact date?</small>
					</a>
				</div>
			</div>

			<div class="form-group" data-ng-show="updating">
				<label class="col-xs-2 control-label text-nowrap">I like</label>
				<div class="col-xs-10">
					<taglist tags="pet.likes" placeholder="'Play catch, pee in the house, chew on shoes?'"><!--TODO: define a placeholder suggestion per species-->
				</div>
			</div>

			<div class="form-group" data-ng-show="updating">
				<label class="col-xs-2 control-label text-nowrap">My Packs</label>
				<div class="col-xs-10">
					<taglist tags="pet.packs" placeholder="'Other pets I run with?'"><!--TODO: define a placeholder suggestion per species-->
				</div>
			</div>

			<div class="form-group" data-ng-show="updating">
				<label class="col-xs-2 control-label text-nowrap">My Awards</label>
				<div class="col-xs-10">
					<taglist tags="pet.awards" placeholder="'Cuttest pup in the neighborhood 2014?'"><!--TODO: define a placeholder suggestion per species-->
				</div>
			</div>

			<div class="form-group">
				<label class="col-xs-2 control-label text-nowrap">Description</label>
				<div class="col-xs-10">
					<textarea class="my-form-control" data-ng-model="pet.desc"
						placeholder="{{pet.name?'Tell us a little about '+pet.name:'Tell us a little about your pet'}}"></textarea>
				</div>
			</div>

			<div class="form-group" data-ng-show="updating">
				<label class="col-xs-2 control-label text-nowrap">Last Updated</label>
				<div class="col-xs-10">
					<span class="readonly-field">{{pet.lastUpdate | date:'dd/MM/yy HH:mm:ss sss'}}</span>
				</div>
			</div>

			<div class="form-group">

				<div class="col-xs-3 pull-right">
					<button type="reset" class="raised-btn" data-ng-click="cancel()">cancel</button>
				</div>
				<div class="col-xs-3 pull-right" data-ng-show="updating">
					<button type="submit" class="raised-btn" >update</button>
				</div>
				<div class="col-xs-3 pull-right" data-ng-show="!updating">
					<button type="submit" class="raised-btn" >create</button>
				</div>
			</div>

		</form>

	</div>
</div>
