<div class="panel panel-default profile-container" data-ng-class="pet.gender=='m'?'profile-male':'profile-female'" data-ng-controller="PetPanelCtrl"/>
	<div class="panel-heading">&nbsp;</div>
	
	<div class="panel-body container-fluid pet-panel">

		<div class="row profile-row">
			<div class="col-xs-3">
				<div class="profile-pic-container">
					<img class="img-responsive img-thumbnail profile-pic-img" ng-src="{{pet.profilePic}}" data-ng-click="gotoPhotos(pet)">
				</div>
			</div>
			<div class="col-xs-11 col-xs-offset-3">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-12">
							<div class="svg-sp-ico" title="{{pet.sp}}">
								<svg  viewBox="0 0 489.751 489.751" class="sp-ico">
									<use xlink:href="{{pet.spIco}}"></use>
								</svg>
							</div>
							<a class="pet-prof-link" data-ng-click="gotoPetHome(pet)" ><strong>{{pet.name | camelcase}}</strong></a>
							<a data-ng-click="gotoUpdate(pet)" >Edit</a>		
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<a href=""><small>@<span>{{pet.name}}</span></small></a>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<a href="" data-ng-show="pet.sp"><small>#<span>{{pet.sp | camelcase}}</span></small></a>
							<a href="" data-ng-show="pet.breed"><small>#<span>{{pet.breed | camelcase}}</span></small></a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row profile-row">
			<div class="col-xs-12">
				<div class="pet-desc"><small><em>{{pet.desc}}</em></small></div>
			</div>
		</div>

		<div class="row profile-row">
			<span class="col-xs-4">I'm looking for</span>
			<div class="col-xs-8">
				<svg  viewBox="0 0 23.217 23.217" class="standard-ico">
					<use data-ng-if="true" xlink:href="#heart-ico"></use>
				</svg>
			</div>
		</div>

		<div class="row profile-row">
			<span class="col-xs-4">Born</span>
			<span class="col-xs-8">{{(pet.birthDate | date) || pet.birthYear}}</span>
		</div>

		<div class="row profile-row">
			<span class="col-xs-2">I live in</span>
			<span class="col-xs-10">{{pet.loc.addr}}</span>
		</div>

		<div class="row profile-row">
			<span class="col-xs-4">My awards</span>
			<ul class="list-inline tags-container col-xs-8" data-ng-show="pet.awards">
				<li class="" ng-repeat="award in pet.awards track by $index"><img title="{{award}}" class="trophy-icon" src="/img/icons/trophy.svg"><span>{{award}}</span></li>
			</ul>
			<div class="col-xs-8" data-ng-show="!pet.awards">
				<span><small><em>You've not won any <a href="">awards</a> yet! To participate in a the next <a href="">CupiDog Cup</a> or perhaps create your own <a href="">contest or event</a> Go <a href="">here</a>.</em></small></span>
			</div>
		</div>
		
		<div class="row profile-row">
			<span class="col-xs-4">I like</span>
			<ul class="list-inline tags-container col-xs-8" data-ng-show="pet.likes">
				<li class="std-tag" ng-repeat="like in pet.likes track by $index">{{like}}</li>
			</ul>
			<div class="col-xs-8" data-ng-show="!pet.likes">
				<span><small><em>You haven't shared with us what your <a href="">hobbies and passtimes</a> are yet! Would you like to <a href="">start</a>?</em></small></span>
			</div>
		</div>

		<div class="row profile-row">
			<span class="col-xs-4">Packs I run with</span>
			<ul class="list-inline tags-container col-xs-8" data-ng-show="pet.packs">
				<li class="std-tag" ng-repeat="pack in pet.packs track by $index">{{pack}}</li>
			</ul>
			<div class="col-xs-8" data-ng-show="!pet.packs">
				<span><small><em>You're not part of any <a href="">packs</a> yet! Packs are loads of fun. Want to join or create one? Go <a href="">here</a>.</em></small></span>
			</div>
		</div>

		<div class="row profile-row">
			<div class="col-xs-12">
				<pet-status pet="pet" placeholder="'Share something with your friends'" save-status-fn="savePetStatus(pet)">
			</div>
		</div>

	</div>
	
</div>